Repository ScreepCode/MoveTopia, pull requests merged in 2025-04, with the labels that each got.

#106 Fix inconsistent dates and step calcuation
  lib/data/repositories/base_local_health_impl.dart
  lib/data/service/health_service_impl.dart
  lib/domain/service/badge_service.dart
  lib/presentation/activities/details/widget/header_details.dart
  lib/presentation/activities/list/screen/activities_screen.dart
  lib/presentation/challenges/provider/badge_lists_provider.dart
  lib/utils/system_utils.dart
Labels: bug

#131 Enable Permissions on iOS
  ios/Podfile
  ios/Podfile.lock
  ios/Runner/Info.plist
  ios/Runner/de.lproj/InfoPlist.strings
  ios/Runner/en.lproj/InfoPlist.strings
  lib/presentation/onboarding/widgets/permissions_page.dart
  lib/presentation/profile/screen/permissions_settings_screen.dart
  lib/presentation/tracking/screen/permission_screen.dart
  lib/presentation/tracking/view_model/tracking_view_model.dart
  pubspec.lock
  pubspec.yaml
Labels: bug, iOS, lib

#132 Fix badge item colors
  lib/presentation/challenges/widgets/badge_item.dart
Labels: bug, lib, design

#140 Add User Survey for Studienarbeit
  .gitignore
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/presentation/profile/debug_settings/screen/debug_settings_screen.dart
  lib/presentation/profile/debug_settings/widgets/survey_debug_section.dart
  lib/presentation/today/routes.dart
  lib/presentation/today/screen/survey_webview_screen.dart
  lib/presentation/today/screen/today_screen.dart
  lib/presentation/today/widgets/survey_card.dart
  pubspec.lock
  pubspec.yaml
Labels: enhancement, lib

#142 Fix Android Permissions and add Beta Tests to Readme
  .gitignore
  README.md
  android/app/src/main/AndroidManifest.xml
  android/fastlane/README.md
  ios/.gitignore
  ios/Podfile.lock
  ios/Runner/Info.plist
Labels: bug, documentation, android

#144 🔧 Add ProGuard rules for reflection, WebView, and url_launcher support
  android/app/proguard-rules.pro
Labels: docs-only

#146 Fix/activities screen
  lib/presentation/activities/list/screen/activities_screen.dart
  lib/presentation/activities/list/view_model/activities_view_model.dart
Labels: bug
